*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  min-height: 100%;
}

:root {
  --primary-color: #26282b;
  --secondary-color: #352f44;
  --tertiary-color: #5c5470;

  --primary-text-color: white;
  --secondary-text-color: #dbd8e3;

  --primary-brand-color: #21e6c1;
  --secondary-brand-color: #278ea5;

  --error-color: #ebc0c0;
  --error-text-color: #d72323;

  --font-size-xxs: 1rem;
  --font-size-xs: 1.4rem;
  --font-size-s: 1.8rem;
  --font-size-m: 2.4rem;
  --font-size-l: 3rem;
  --font-size-xl: 3.6rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
